# Database.
DATABASE_URL="file:./dev.db" # References the SQLite database.

# Application.
HTTP_PORT=8080 # This is the port on which the application will run.
CLI_PASSWORD="YOUR_CLI_PASSWORD" # This is used to allow access to the CLI commands.

# Discord.
DISCORD_TOKEN="YOUR_DISCORD_BOT_TOKEN" # This is the token for your Discord bot.
DISCORD_CLIENT_ID="YOUR_DISCORD_CLIENT_ID" # This is the client ID for your Discord application.
DISCORD_GUILD_ID="YOUR_DISCORD_GUILD_ID" # Optional: The ID of the Discord guild (server) where the bot will operate.
